<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Customers</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
        <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.0/angular.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/functions.js"></script>
    </head>
    <body ng-app="customer" ng-controller="appCtrl">
        
        <!--Navigation buttons starts here-->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <!--Change view buttons-->
                    <ul class="nav navbar-nav">
                        <li ng-click="changeView($event)"><a id="grid"><span class="glyphicon glyphicon-th-large"></span> Grid View</a></li>
                        <li ng-click="changeView($event)"><a id="list"><span class="glyphicon glyphicon-th-list"></span> List View</a></li>
                        <li ng-click="showModal()"><a><span class="glyphicon glyphicon-plus"></span> Add Customer</a></li>
                    </ul>
                    <!--Filter options-->
                    <form class="pull-right form-inline">
                        <div class="form-group">
                            <label for="filter">Filter By First Name:</label>
                            <input type="search" id="filter" class="form-control" ng-model="filterbox.firstName">
                        </div>
                        <div class="form-group">
                            <label for="filter">Filter By Last Name:</label>
                            <input type="search" id="filter" class="form-control" ng-model="filterbox.lastName">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!--Customer details cards-->
        <div class="container" ng-controller="cardCtrl" ng-init="loadDetails()">
            <div class="row">
                <div class="col-lg-3 card" ng-repeat="customer in customerList | filter : filterbox">
                    <div class="panel panel-primary" ng-click="editDetails(customer)" data-toggle="modal" data-target="#editFormModal">
                        <div class="panel-heading">
                            <h5>{{customer.firstName+' '+customer.lastName}}</h5>
                            <button class="close" ng-click="deleteRecord(customer.id)">&times;</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                                <div class="col-lg-8">
                                    {{customer.address}}
                                </div>
                                <div class="col-lg-offset-4 col-lg-8">
                                    {{customer.numberOfOrders}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
